<div class="row">
      <div class="col-1"> 
      <img src="../../../assets/user1.png" height="80px" widht="80px" style="position: absolute; left:1% ; top:450px"/>
      </div>
      <h1>Acerca de</h1>
      <h2>Roger E. Roldan</h2>
      <h3>Full Stack Developer jr.</h3>  
      <div class="col-12">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
           Praesentium libero corporis fugit nulla esse minima nisi accusantium saepe fuga
           ipsam deleniti quibusdam alias voluptatibus, dolores nesciunt, hic, id voluptate 
           autem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum porro iste vero explicabo. 
           Doloremque distinctio illum debitis, sit hic sapiente quos similique at rem, fuga 
           laborum, beatae velit ipsum eos?</p>
    </div>                               
</div> 
