div h1 {
    text-align: center;
    font-size: small;
  } 
div h2 {
    color: darkgray;
    text-align:left;
    font-size: small;
    margin-left: 10px;
    }
div h3 {
    color: darkgray;
    text-align:left;
    font-size: small;
    margin-left: 10px;
    }
div p {
    margin-left: 65px;
    color: darkgray;
    float:center;
    font-size: medium;
    }            
  