<div class="container-fluid" style="height:350px; width: 500px ; padding-top:25px">
    <form>
          <div class="text-center">
               <h1>Correo Electtronico</h1> 
               <input type="text" class="form-control"> 
          </div>
          <div class="text-center"> 
               <h1>Ingrese Contraseña</h1>
               <input type="text" class="form-control"> 
          </div>
          <div style="margin-top:40px"> 
               <button type="submit" class="btn btn-primary  form-control">Inicio de Sesion</button> 
          </div>              
    </form>           
</div>
