/**@media screen and (max-width:340px) {
    #logoUser {
        position:absolute; left:10px;
        bottom: 180px;
    }
}**/
/**
@media screen and (max-height:600px) {
    #logoUser {
        position:absolute; left:10px;
        bottom: -20px;
    }
}**/