     <!DOCTYPE html>
     <html lang="es">
     <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
        <title>Document</title>
     </head>
     <body>
        <div>
            <app-header></app-header>
            <app-banner></app-banner>
            <app-acercade></app-acercade>
            <app-experiencia></app-experiencia>
            <app-educacion></app-educacion>
            <app-hsskills></app-hsskills>
            <app-proyectos></app-proyectos>
        </div>
     </body>
     </html>
   

